<div class="container-fluid color-dark">
    <div class="row">
        <div class="col-md-6">
            <p>Add a bucket list item</p>
        </div>
        <div class="col-md-6">
            <p>Your bucket list ({{ itemCount }})</p>
        </div>
    </div>
</div>

<div class="container-fluid color-light" [@goals]="goals.length">
    <div class="row">
        <div class="col-md-6">
            <small>Use this form below to add a new bucket list goal. What do you want to do with your life?</small>
            <form class="">
                <div class="form-group">
                    <input type="text" name="item" class="txt" placeholder="Life goal..." [(ngModel)]="goalText">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn-primary" [value]="btnText" (click)="addItem()">
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <p class="life-container" *ngFor="let goal of goals; let i = index" (click)="removeItem(i)">
                {{ goal }}
            </p>
        </div>
    </div>
</div>
